/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.phpunit.result.cache
.php-cs-fixer.cache
/storage/framework/cache/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/logs/*.log
